<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About - Political HTML5/CSS3 Responsive Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
   <!-- Mains Style-->
    <link href="css/style.css" rel="stylesheet" media="screen"> 

    <!-- Skins styles -->
    <link href="css/skins/red/red.css" rel="stylesheet" media="screen" class="skin">  

    <!-- Responsive Theme -->
    <link href="css/responsive-theme.css" rel="stylesheet" media="screen">  

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">  

    <!-- Head Libs -->
    <script src="js/modernizr.js"></script>

    <!-- styles for IE -->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Skins Changer-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

  </head>

  <body> 

    <!-- layout-->
    <div id="layout">
        <!--main-->
        <section class="main">

            <!-- Main title -->
            <div class="main_title simple_sections">

                <!-- Main Name -->
                <div class="main_name fadeInDown animated delay1">
                    <div class="container">
                        <div class="row">
                      
                            <div class="col-md-4 col-sm-4">
                                <a href="index.html"><h1>ERICK Cinquemani</h1></a>
                            </div>

                            <div class="col-md-8 col-sm-8">
                                <ul id="menu" class="sf-menu">
                                    <li><a href="index.html">Home <i class="fa fa-angle-double-down"></i></a>
                                        <ul>
                                            <li><a href="video-slider.html"><i class="fa fa-angle-right"></i> Video Slider</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="about.html">About <i class="fa fa-angle-double-down"></i></a>
                                        <ul>
                                            <li><a href="mycv.html"><i class="fa fa-angle-right"></i> Biography</a></li>
                                            <li><a href="about-team.html"><i class="fa fa-angle-right"></i> Team Job</a></li> 
                                        </ul>
                                    </li>

                                    <li><a href="#">Blog <i class="fa fa-angle-double-down"></i></a>
                                      <ul>                                  
                                        <li><a href="blog.html"><i class="fa fa-angle-right"></i> Default Blog</a></li>

                                        <li><a href="option-blog.html"><i class="fa fa-angle-right"></i> Alternative Blog</a></li>                  
                                        <li><a href="single_post.html"><i class="fa fa-angle-right"></i> Single Post</a></li>
                                      </ul>
                                    </li> 

                                    <li><a href="#">Features <i class="fa fa-angle-double-down"></i></a>
                                      <ul>                                  
                                        <li><a href="elements.html"><i class="fa fa-angle-right"></i> Elements</a></li>  
                                            
                                        <li><a href="sidebar-left.html"><i class="fa fa-angle-right"></i> Sidebar Left</a></li>
                                        
                                        <li><a href="full-width.html"><i class="fa fa-angle-right"></i> Full Width</a></li>
                                        
                                        <li><a href="sidebar-right.html"><i class="fa fa-angle-right"></i> Sidebar Right</a></li>
                                        
                                        <li><a href="mycv.html"><i class="fa fa-angle-right"></i> Biography</a></li>
                                        
                                        <li><a href="about-team.html"><i class="fa fa-angle-right"></i> Team Job</a></li>
                                        
                                        <li><a href="page-register.html"><i class="fa fa-angle-right"></i> Register Page</a></li>
                                        
                                        <li><a href="404-page.html"><i class="fa fa-angle-right"></i> Error Page 404</a></li>

                                        <li><a href="video-slider.html"><i class="fa fa-angle-right"></i> Video Slider</a></li>

                                        <li><a href="grid-system.html"><i class="fa fa-angle-right"></i> Grid System</a></li>
                                        
                                        <li><a href="icons.html"><i class="fa fa-angle-right"></i> Icons</a></li>

                                        <li><a href="#"><i class="fa fa-angle-right"></i> Third Level</a>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>  Link</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>  Link</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                    </li> 

                                    <li><a href="#">Events <i class="fa fa-angle-double-down"></i></a>
                                      <ul> 
                                        <li><a href="events.html"><i class="fa fa-angle-right"></i> List Events</a></li>        
                                        <li><a href="detail-events.html"><i class="fa fa-angle-right"></i> Event Single</a></li>
                                        <li><a href="detail-events-alternative.html"><i class="fa fa-angle-right"></i> Event Single 2</a></li>    
                                      </ul>
                                    </li> 

                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end Main Name -->

                <!--  Bar done -->
                <div class="done_info sections fadeInUp animated delay2">
                        <div class="container">
                            <div class="row">

                                <!--  Registrer to Vote -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="box">
                                        <div class="icon">
                                            <i class="fa fa-group"></i>
                                        </div>
                                
                                        <h2>¿Where to Vote?</h2>
                                        <p>Lorem ipsum dolor consectetuer sit, consectetuer adipiscing elit.</p>
                                    </div>
                                </div>
                                <!-- end Registrer to Vote -->

                                <!--  Contact -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="box">
                                        <div class="icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <h2>CONTACT Us</h2>
                                        <p>Lorem ipsum dolor consectetuer sit, consectetuer adipiscing elit.</p>
                                    </div>
                                </div>
                                <!--  end Contact -->

                                <!--  Done -->
                                <div class="col-md-4 col-sm-4">

                                    <div class="box donate">
                                        <div class="icon">
                                            <i class="fa fa-dollar"></i>
                                        </div>                     
                                        <h2>Donate</h2>
                                        <p class="text-overflow">Lorem ipsum dolor consectetuer sit, consectetuer adipiscing elit.</p>
                                    </div>

                                </div>
                                <!--  end Done -->

                            </div>
                        </div>
                </div>
                <!--  end Bar done -->      
            </div>
            <!-- Main title -->

        </section>
        <!-- end Main -->

        <!-- central content -->
        <section class="central_content">
            <div class="container">

                <!--Text About team-->
                <div class="row">
                    <div class="col-md-6">
                        <h3>About of Our Team Job</h3>
                        <p>Given the cost, the project has been opened to "class sponsoring" from any class willing to pitch in. A class that contributes $100,000 to the project will be recognized at dedication and the memorial will be engraved with the class year (in an out of the way corner that does not detract from the memorial's overall message)., Erick Cinquemani Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed.</p>

                        <p>As many of you know the Class of '67 is spearheading an effort to create a War Memorial on campus. The monument will be dedicated in 2017 to coincide with The Citadel's 175th anniversary. The $1,000,000+ overall project cost will support both construction as well as the creation of an endowment to maintain the memorial’s upkeep in perpetuity.</p>     
                    </div>

                    <div class="col-md-6">
                        <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="img/slide_05.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="img/slide_06.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="img/slide_07.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Text About team-->
            
                <!-- star divisor -->
                <div class="sep">       
                    <span class="star"><img src="img/stars.png" alt="star"></span>
                    <span class="rule-l">&nbsp;</span>
                    <span class="rule-r">&nbsp;</span>        
                </div>
                <!-- end star divisor -->

                <!-- Team --> 
                <div class="row">
                    <div class="col-md-12">
                        <!-- Item Team-->  
                        <ul id="team-carousel" class="team border_img">
                            <!-- Item Team -->  
                            <li class="item-team">
                                <img src="img/man01.jpg" alt="" class="img-responsive">
                                <div class="info-team">
                                    <h3><a href="#">Dr. Robert Wilck</a></h3>
                                    <h4><span>General Admin</span></h4>
                                    <div class="overlay-team">
                                        <p>"An update on comprehensive immigration reform"</p>
                                        <!--  Social -->
                                        <ul class="social_icon center">
                                                        
                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="twitter" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="dribbble" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="youtube" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                        </ul>
                                        <!--  Social -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Item Team -->

                            <!-- Item Team -->  
                            <li class="item-team">
                                <img src="img/man02.jpg" alt="" class="img-responsive">
                                <div class="info-team">
                                    <h3><a href="#">Dr. Robert Wilck</a></h3>
                                    <h4><span>General Admin</span></h4>
                                    <div class="overlay-team">
                                        <p>"An update on comprehensive immigration reform"</p>
                                        <!--  Social -->
                                        <ul class="social_icon center">
                                                        
                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="twitter" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="dribbble" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="youtube" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                        </ul>
                                        <!--  Social -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Item Team -->

                            <!-- Item Team -->  
                            <li class="item-team">
                                <img src="img/man03.jpg" alt="" class="img-responsive">
                                <div class="info-team">
                                    <h3><a href="#">Dr. Robert Wilck</a></h3>
                                    <h4><span>General Admin</span></h4>
                                    <div class="overlay-team">
                                        <p>"An update on comprehensive immigration reform"</p>
                                        <!--  Social -->
                                        <ul class="social_icon center">
                                                        
                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="twitter" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="dribbble" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="youtube" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                        </ul>
                                        <!--  Social -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Item Team -->

                            <!-- Item Team -->  
                            <li class="item-team">
                                <img src="img/man05.jpg" alt="" class="img-responsive">
                                <div class="info-team">
                                    <h3><a href="#">Dr. Robert Wilck</a></h3>
                                    <h4><span>General Admin</span></h4>
                                    <div class="overlay-team">
                                        <p>"An update on comprehensive immigration reform"</p>
                                        <!--  Social -->
                                        <ul class="social_icon center">
                                                        
                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="twitter" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="dribbble" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="youtube" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                        </ul>
                                        <!--  Social -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Item Team -->

                            <!-- Item Team -->  
                            <li class="item-team">
                                <img src="img/man02.jpg" alt="" class="img-responsive">
                                <div class="info-team">
                                    <h3><a href="#">Dr. Robert Wilck</a></h3>
                                    <h4><span>General Admin</span></h4>
                                    <div class="overlay-team">
                                        <p>"An update on comprehensive immigration reform"</p>
                                        <!--  Social -->
                                        <ul class="social_icon center">
                                                        
                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="twitter" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="dribbble" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="youtube" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                        </ul>
                                        <!--  Social -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Item Team -->

                            <!-- Item Team -->  
                            <li class="item-team">
                                <img src="img/man03.jpg" alt="" class="img-responsive">
                                <div class="info-team">
                                    <h3><a href="#">Dr. Robert Wilck</a></h3>
                                    <h4><span>General Admin</span></h4>
                                    <div class="overlay-team">
                                        <p>"An update on comprehensive immigration reform"</p>
                                        <!--  Social -->
                                        <ul class="social_icon center">
                                                        
                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="twitter" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="dribbble" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                           <!--Icon Social-->
                                            <li class="tooltip_hover" title="youtube" data-placement="top">
                                                <a href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            
                                            <!--Icon Social-->

                                        </ul>
                                        <!--  Social -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Item Team -->

                        </ul>
                        <!-- End Item Players-->  
                    </div>
                </div>
                <!-- End Players -->  

                <!-- star divisor -->
                <div class="sep">       
                    <span class="star"><img src="img/stars.png" alt="star"></span>
                    <span class="rule-l">&nbsp;</span>
                    <span class="rule-r">&nbsp;</span>        
                </div>
                <!-- end star divisor -->

                <!--Text About team-->
                <div class="row">

                    <!--Carousel Simple-->
                    <div class="col-md-6">
                        <div id="carousel-example-generic-2" class="carousel slide bs-docs-carousel-example">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic-2" data-slide-to="0" class=""></li>
                                <li data-target="#carousel-example-generic-2" data-slide-to="1" class="active"></li>
                                <li data-target="#carousel-example-generic-2" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="img/slide_05.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="img/slide_06.jpg" alt="">
                                </div>
                                <div class="item active">
                                    <img src="img/slide_07.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic-2" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic-2" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                    <!--Carousel Simple-->


                    <div class="col-md-6">
                        <h3>About of Our Team Job</h3>
                        <div class="accordion-content">

                            <div class="accordion-trigger active"><span>Achieve universal primary education</span></div>   
                                <div class="accordion-container" style="display: block;">
                                  <p>Ensure that, by 2015, children everywhere complete a full course of primary schooling. Achieving an illiteracy rate of 1% for people aged 15 to 24 years. Achieve an increase of 2 in the number of average years of schooling for the population aged 15 to 24 years </p>
                                  <p>Ensure that, by 2015, children everywhere complete a full course of primary schooling.</p>
                                </div>

                            <div class="accordion-trigger"><span>Promote gender equality and empower women</span></div>   
                                <div class="accordion-container" style="display: none;">
                                  <p>Eliminate gender disparity in primary and secondary education preferably by 2005 and in all levels of education no later than 2015</p>
                                </div>

                            <div class="accordion-trigger"><span>Grant Assistance</span></div>      
                                <div class="accordion-container" style="display: none;">
                                  <p>1. Ratio of girls to boys in upper primary, secondary and Two. Relation between literacy rates of women and men aged 15 to 24</p>
                                </div>

                            <div class="accordion-trigger"><span>Student Aid</span></div>      
                                <div class="accordion-container" style="display: none;">
                                    <p>Ensure that, by 2015, children everywhere complete a full course of primary schooling. Achieving an illiteracy rate of 1% for people aged 15 to 24 years. Achieve an increase of 2 in the number of average years of schooling for the population aged 15 to 24 years </p>
                                </div>

                            <div class="accordion-trigger"><span>Achieve universal primary education</span></div>   
                                <div class="accordion-container" style="display: none;">
                                  <p>Ensure that, by 2015, children everywhere complete a full course of primary schooling. Achieving an illiteracy rate of 1% for people aged 15 to 24 years. Achieve an increase of 2 in the number of average years of schooling for the population aged 15 to 24 years </p>
                                </div>
                        </div>  
                    </div>

                </div>
                <!--Text About team-->

                <!-- star divisor -->
                <div class="sep">       
                    <span class="star"><img src="img/stars.png" alt="star"></span>
                    <span class="rule-l">&nbsp;</span>
                    <span class="rule-r">&nbsp;</span>        
                </div>
                <!-- end star divisor -->

                <!-- carrousel-->
                <ul class="slides-carousel border_img">
                    <li>
                        <img src="img/gallery/01.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/01.jpg"></a>
                    </li>
                    <li>
                        <img src="img/gallery/02.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/02.jpg"></a>                
                    </li>
                    <li>
                        <img src="img/gallery/03.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/03.jpg"></a>
                    </li>
                    <li>
                        <img src="img/gallery/04.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/04.jpg"></a>
                    </li>
                    <li>
                        <img src="img/gallery/05.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/05.jpg"></a>
                    </li>
                    <li>
                        <img src="img/gallery/06.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/06.jpg"></a>
                    </li>
                    <li>
                        <img src="img/gallery/03.jpg"  alt=""/>
                        <a class="fancybox" title="" href="img/gallery/03.jpg"></a>
                    </li>
                </ul>
                <!-- end carrousel-->

           </div>
        </section>
        <!--end central content -->

        <!--footer-->
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-md-5 col-sm-5">
                        <h2><i class="fa fa-coffee"></i> FOOTER TEXT</h2>
                             <div class="divisor_line"></div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. </p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam.</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <h2><i class="fa fa-twitter"></i> LASTES TWEETS</h2>
                        <div class="divisor_line"></div> 

                        <div class="twitter">  

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h2><i class="fa fa-envelope"></i> CONTACT US</h2>
                        <div class="divisor_line"></div>
                            <ul class="contact">
                            <li><i class="fa fa-home"></i> 12345 Street Name,  Bugalagrande</li>
                            <li><i class="fa fa-building-o"></i> Colombia Valle, Province</li>
                            <li><i class="fa fa-phone"></i> Phone: (123) 456-789</li>
                            <li><i class="fa fa-envelope-o"></i>E-mail: <a href="#">info@political.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Copry -->
            <div class="copry">
                <div class="container">
                     <div class="row">
                       <!--  Social -->
                        <ul class="social_icon">
                                    
                           <!--Icon Social-->
                            <li class="tooltip_hover" title="twitter" data-placement="bottom">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <!--Icon Social-->

                           <!--Icon Social-->
                            <li class="tooltip_hover" title="dribbble" data-placement="bottom">
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            
                            <!--Icon Social-->

                           <!--Icon Social-->
                            <li class="tooltip_hover" title="youtube" data-placement="bottom">
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            
                            <!--Icon Social-->

                            <!--Icon Social-->
                            <li class="tooltip_hover" title="Flickr" data-placement="bottom">
                                <a href="#">
                                    <i class="fa fa-flickr"></i>
                                </a>
                            </li>
                            
                            <!--Icon Social-->

                            <!--Icon Social-->
                            <li class="tooltip_hover" title="Apple" data-placement="bottom">
                                <a href="#">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <!--Icon Social-->

                            <!--Icon Social-->
                            <li class="tooltip_hover" title="Windows" data-placement="bottom">
                                <a href="#">
                                    <i class="fa fa-windows"></i>
                                </a>
                            </li>
                            <!--Icon Social-->

                        </ul>
                        <!--  Social -->
                    </div> 

                  <div class="row">
                    <p>Erick Cinquemani - Your Html Political Site. Copyright © 2013. All Rights Reserved</p>
                  </div>

                </div>
              </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!--End Layout-->


    <!-- ======================= JQuery libs =========================== -->
    <!-- local copy of jquery. -->       
    <script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>   
    <!--Lightbox--> 
    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script> 
    <!--Totop-->
    <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>          
    <!-- Bootstrap.js-->
    <script src="js/bootstrap.js"></script>
    <!-- Slide.js-->
    <script src="js/responsiveslides.js"></script>
    <!-- Carrousel -->
    <script src="js/carrousel_topic/owl.carousel.js"></script>
    <!-- Text Rotator -->
    <script type="text/javascript" src="js/text_rotator/jquery.simple-text-rotator.js"></script>
    <!--Nav-->
    <script type="text/javascript" src="js/nav/tinynav.js"></script> 
    <script type="text/javascript" src="js/nav/superfish.js"></script> 
    <!--Theme Options-->
    <script type="text/javascript" src="js/theme-options/theme-options.js"></script>
    <script type="text/javascript" src="js/theme-options/jquery.cookies.js"></script>  
    <script type='text/javascript' src='js/theme-options/jquery.easing.1.3.min.js'></script> 
     <!--FlexSlider-->
    <script src="js/flexslider/jquery.flexslider.js"></script> 
    <!-- Counter -->
    <script src="js/counter/jquery.countdown.js"></script>
    <!-- Twitter Feed-->
    <script src="js/twitter/jquery.tweet.js"></script>  
    <!--fUNCTIONS-->
    <script type="text/javascript" src="js/jquery-func.js"></script>
    <!-- ======================= End JQuery libs =========================== -->

  </body>
</html>
